
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	 <form action="/login/productdetail/{{product._id}}" method="post" enctype="multipart/form-data"></form>
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					
					<div class="single-product-img">
					  <div  id="img-container">
							<img src="/product-images/{{product.image.[0]}}" alt="">
						</div>
					</div>

					<div class="image-gallery d-flex mt-5">
						<a href="#" style="width:70%;height:70%" class="product-gallery-item active"><img style="width:70%;height:70%" src="/product-images/{{product.image.[0]}}" alt=""></a>
						<a href="#" style="width:70%;height:70%" class="product-gallery-item active"><img style="width:70%;height:70%"  src="/product-images/{{product.image.[1]}}" alt=""></a>
						<a href="#" style="width:70%;height:70%" class="product-gallery-item active"><img style="width:70%;height:70%" src="/product-images/{{product.image.[2]}}" alt=""></a>
						<a href="#" style="width:70%;height:70%" class="product-gallery-item active"><img style="width:70%;height:70%" src="/product-images/{{product.image.[3]}}" alt=""></a>
					</div>
					
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{product.name}}</h3>
						{{#if product.offer}}
						<p class="single-product-pricing"><span>Per Kg</span>{{product.offerPrice}}/-</p>
						<p><span calss="fs-4">Original Price :</span> <span class="fs-2"><b><del>{{product.price}}/-</del></b></span></p>
						<h5><span class="fs-2 text-danger">{{product.offer}}</span><span class="fs-4">%off</span></h5>
						{{else}}
						<p class="single-product-pricing"><span>Per Kg</span>{{product.price}}/-</p>
						{{/if}}
						<p>{{product.description}}</p>
						<div class="single-product-form">
							<form action="index.html">
								
							</form>
							
							<p><strong>Categories: </strong>{{product.category}}</p>

							<button class="cart-btn fas fa-shopping-cart" onclick="addCart('{{product._id}}')">Add to Cart</button>
						</div>
						<h4>Share:</h4>
						<ul class="product-share">
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
	<!-- end single product -->



	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<script>
		var options={
			width:200,
			height:150,
			zoomWidth:800,
			offset:{vertical:0,horizontal:0},
			scale:1.2
		}
		new ImageZoom(document.getElementById("img-container"),options)
	</script>
